<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Ecommerceoffice_Homepage>
            <version>1.0.0</version>
        </Ecommerceoffice_Homepage>
    </modules>
    <frontend>
        <layout>
            <updates>
                <homepage>
                    <file>ecommerceoffice_homepage.xml</file>
                </homepage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ecommerceoffice_Homepage>
                    <files>
                        <default>Ecommerceoffice_Homepage.csv</default>
                    </files>
                </Ecommerceoffice_Homepage>
            </modules>
        </translate>
    </frontend>
    
    <global>
        <models>
            <homepage>
                <class>Ecommerceoffice_Homepage_Model</class>
                <resourceModel>homepage_mysql4</resourceModel>
            </homepage>
            <homepage_mysql4>
                <class>Ecommerceoffice_Homepage_Model_Mysql4</class>
                <entities>
                    <slide>
                        <table>ecommerceoffice_homepage_slide</table>
                    </slide>
                    <slide_category>
                        <table>ecommerceoffice_homepage_slide_category</table>
                    </slide_category>
                    <category>
                        <table>ecommerceoffice_homepage_category</table>
                    </category>
                    <category_store>
                        <table>ecommerceoffice_homepage_category_store</table>
                    </category_store>
                </entities>
            </homepage_mysql4>
        </models>
        <resources>
            <homepage_setup>
                <setup>
                    <module>Ecommerceoffice_Homepage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </homepage_setup>
            <homepage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homepage_write>
            <homepage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homepage_read>
        </resources>
        <blocks>
            <homepage>
                <class>Ecommerceoffice_Homepage_Block</class>
            </homepage>
            <page>
                <rewrite>
                    <html_footer>Ecommerceoffice_Homepage_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <homepage>
                <class>Ecommerceoffice_Homepage_Helper</class>
            </homepage>
        </helpers>
    </global>
    <admin>
        <routers>
            <ecommerceoffice_homepage>
                <use>admin</use>
                <args>
                    <module>Ecommerceoffice_Homepage</module>
                    <frontName>homepage</frontName>
                </args>
            </ecommerceoffice_homepage>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <homepage translate="title" module="homepage">
                                            <title>Homepage</title>
                                        </homepage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <ecommerceoffice translate="title" module="homepage">
                <title>Ecommerceoffice</title>
                <sort_order>65</sort_order>
                <children>
                    <homepage translate="title" module="homepage">
                        <title>Homepage</title>
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="homepage">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/homepage</action>
                                <sort_order>40</sort_order>
                            </settings>
                        </children>
                    </homepage>
                </children>
            </ecommerceoffice>
        </menu>
    </adminhtml>
    <default>
        <homepage>
            <options>
                <actions>1</actions>
                <price>1</price>
                <salable>1</salable>
                <noproduct>There are no products that match your criteria. Please try again with different options.</noproduct>
                <count>4</count>
            </options>
            <topsell>
                <enable>1</enable>
                <title>TOPSELLERS</title>
                <count>4</count>
                <days>365</days>
                <cat>0</cat>
            </topsell>
            <new>
                <enable>1</enable>
                <title>NEW PRODUCTS</title>
                <count>4</count>
                <from>2007-08-23</from>
            </new>
            <popular>
                <enable>1</enable>
                <title>POPULAR PRODUCTS</title>
                <count>4</count>
            </popular>
            <toprated>
                <enable>1</enable>
                <title>TOPRATED PRODUCTS</title>
                <count>4</count>
            </toprated>
            <review>
                <enable>1</enable>
                <title>OUR LAST REVIEWS</title>
                <count>10</count>
            </review>
        </homepage>
    </default>
</config>